extends ../layouts/default

mixin post(post)
	.ui.segment(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2.ui.header.golden: a(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted
			if post.author.gravatar
				img(src=post.author.gravatar)
			| Posted 
			if post.publishDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.categories && post.categories.length
				| in 
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
			if post.author
				if post.author.nickname
					| by #{post.author.nickname}
				else
					| by #{post.author.name.first}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...

//- block intro
//- 	.container
//- 		h1= data.category ? data.category.name : 'Blog'

block content
	.ui.grid
		.column.twelve.wide
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					//- if data.posts.totalPages > 1
					//- 	h4.text-weight-normal Showing 
					//- 		strong #{data.posts.first}
					//- 		|  to 
					//- 		strong #{data.posts.last}
					//- 		|  of 
					//- 		strong #{data.posts.total}
					//- 		|  posts.
					//- else
					//- 	h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					.blog
						each post in data.posts.results
							+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.entypo.entypo-chevron-thin-left
							else
								li.disabled: a(href='?page=' + 1): span.entypo.entypo-chevron-thin-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.entypo.entypo-chevron-thin-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.entypo-chevron-thin-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
		
		if data.categories.length
			.column.four.wide
				h2.ui.header Categories
				.ui.vertical.menu.black.tertiary
					a(href='/blog', class=!data.category ? 'blue' : '').item All Categories
					each cat in data.categories
						a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'blue' : '').item= cat.name
