extends ../layouts/default

block content 
  if(user)
    .ui.segment
      .ui.grid
        .row
          .column.ten.wide
            #chat-window.ui.list
          .column.six.wide
            .header
              | Users in room
            .room.users
        .row
          .column.sixteen.wide
            form#chat-input(action='')
              .ui.action.input
                input#m(autocomplete="off")
                .ui.button
                  | Send
  else
    .ui.segment
    form#chat-login
      input(type="text", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Password")
      input(type='hidden', name=csrf_token_key, value=csrf_token_value)
      span.ui.button(action="submit")
        | Wyślij


block js
  script(src='/js/lib/mustache.js')
  if (user)
    script(src='/socket.io/socket.io.js')
    script(src='/js/chat.js')
    script.
      var token = '#{token}';
      jQuery('#chat-window').chat();
    

// <script>
//   var chat = io.connect('http://localhost/chat')
//     , news = io.connect('http://localhost/news');
  
//   chat.on('connect', function () {
//     chat.emit('hi!');
//   });
  
//   news.on('news', function () {
//     news.emit('woot');
//   });
// </script>