extends ../layouts/default

//- block intro
//- 	h1.ui.header Contact Me
		
block content
	.ui.segment
		if enquirySubmitted
			h3.ui.header Thanks for getting in touch.
		else
			form.ui.form(method='post')
				.ui.grid.two.column.middle.aligned
					.row
						.ui.column
							input(type='hidden', name='action', value='contact')
							.field(class=validationErrors.name ? 'has-error' : null)
								label Name
								.ui.labeled.left.icon.input
									input(type='text', name='name.full', value=formData['name.full'], required)
									i.icon.user
									.ui.corner.label
										i.icon.asterisk
							.field(class=validationErrors.email ? 'has-error' : null)
								label Email
								.ui.labeled.left.icon.input
									input(type='email', name='email', value=formData.email, required)
									i.icon.mail
									.ui.corner.label
										i.icon.asterisk
							.field
								label Phone
								.ui.labeled.left.icon.input
									input(type='text', name='phone', value=formData.phone, placeholder='(optional)')
									i.icon.phone
						.ui.column
							.field(class=validationErrors.enquiryType ? 'has-error' : null)
								label What are you contacting us about?
								.ui.left.input.dropdown.selection
									input(type='hidden', name='enquiryType')
									.default.text (select one)
									.menu
										each type in enquiryTypes
											.item(data-value=type.value)= type.label
							.field(class=validationErrors.message ? 'has-error' : null)
								label Message
								textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.row
						.ui.sixteen.wide.column.center.aligned
							button(type='submit').ui.red.button Send
