extends ../layouts/default

//- block intro
//- 	.container
//- 		h1 Gallery
	
block content
	if galleries.length
		each gallery in galleries
			.ui.segment
				h2.ui.header= gallery.name
					if gallery.publishedDate
						.right= gallery._.publishedDate.format('Do MMM YYYY')
				.ui.grid.three.column.middle.aligned
					.row.gallery-images
						if gallery.heroImage.exists
							.row
								.column: img(src=gallery._.heroImage.limit(680,680)).img-rounded
							.row
								each image in gallery.images
									.column: img(src=image.limit(300,300)).img-rounded
						else
							each image in gallery.images
								.column: img(src=image.limit(300,300)).img-rounded
	else
		h3.text-muted There are no image galleries yet.
