extends ../layouts/default

block content
  .ui.segment
    script(src='/socket.io/socket.io.js')
    script(src='js/lib/dat.gui.min.js')
    script(src='js/lib/keyboard.js')
    script(src='js/lib/node-multiplayer/game.core.js')
    script(src='js/lib/node-multiplayer/client.js')

    canvas(id='viewport')

block css
  link(href="/styles/game/game.css", rel="stylesheet")