extends ../layouts/default

block content
	.ui.segment
		img(src='/images/logo.svg', width='160')
		h1.ui.header.golden Soooo much Evil!... ]:->
		p Welcome to my humble site.
		p Feel free to look around. :)
		p
			div
				a(href='skype://pawel.niedzielski.traveltech')
					i.skype.icon
					| Contact me on skype!
			div
				a#mailme(href='pawel.tadeusz')
					i.mail.icon
					| E-mail me!


		if user && user.canAccessKeystone
			hr
			p
				a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI

block js
	script.
		"use strict";
		jQuery(document).ready(function( $ ) {
			var predomain = $('#mailme').attr('href');
			$('#mailme').attr('href', 'mailto://'+predomain+'.niedzielski@gmail.com');
		});
