extends ../layouts/default

block content
  .ui.segment
    
    //- script(src='js/lib/node-multiplayer/client.js')
    div(id='viewport')

block head
  script(src='js/lib/jquery/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/lib/dat.gui.min.js')
  script(src='js/lib/keyboard.js')
  script(src='js/lib/pixi.js/pixi.dev.js')
  script(src='js/lib/physicsjs/physicsjs-full.js')
  script(src='js/lib/pixigame.js')

block css
  link(href="/styles/game/game.css", rel="stylesheet")