extends ../layouts/default

block content
	.ui.segment
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				//- each post, post_i in data.posts
				//- 	p= post.title
				header
					h1.ui.header.golden= data.post.title
					h5 
						if data.post.author.gravatar
							img(src=data.post.author.gravatar)
						| Posted 
						if data.post.publishDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							if data.post.author.nickname
								| by #{data.post.author.nickname}
							else
								| by #{data.post.author.name.first}
				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
