include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'But SteVeB!'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.

		link(href="/styles/site.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-41858417-2', 'auto');
			ga('send', 'pageview');

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER
		#header(role="navigation").ui.menu.inverted.black.pointing.fixed.top

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.
	
			if user
				if user.canAccessKeystone
					.item.right
						a.ui.button.inverted.red(href='/keystone') 
							i.settings.icon
							| Open Keystone
				.item.right
					a.ui.button.inverted.red(href='/keystone/signout')
						i.sign.out.icon
						| Sign Out
			else
				.item.right
					a.ui.button.inverted.red(href='/keystone/signin')
						i.sign.in.icon
						| Sign In

			//- span.sr-only Toggle navigation
			a.item(href='/') But SteVeB!
			each link in navLinks
				a.item(class=(section == link.key ? 'active' : null), href=link.href)
					if(link.icon)
						i.icon(class=link.icon)
					= link.label
			a.item(href='http://code.niedzielski.biz.pl')
				i.bitbucket.icon
				| My Repos

		.ui.grid.page.one.column

			//- BODY
			#body.column

				//- NOTE:
				//- There is no .container wrapping class around body blocks to allow more flexibility in design.
				//- Remember to include it in your templates when you override the intro and content blocks!

				//- The Intro block appears above flash messages (used for temporary information display)
				block intro

				//- Flash messages allow you to display once-off status messages to users, e.g. form
				//- validation errors, success messages, etc.
				+flash-messages(messages)

				//- The content block should contain the body of your template's content
				block content


			//- FOOTER
			.ui.divider

			#footer.column

				//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
				p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.


			//- JAVASCRIPT

			//- jQuery 1.11.0 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.0 (also bundled) for better performance.
			script(src='/js/lib/jquery/jquery-1.11.0.min.js')

			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.1.0.min.js
			//- script(src='/js/lib/bootstrap/bootstrap-3.1.0.min.js')

			//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
			//- which generate links to edit content for users who can access Keystone
			if user && user.canAccessKeystone
				script(src='/keystone/js/content/editor.js')

			//- Add scripts that are globally required by your site here.
			script(src='/styles/semantic.ui/modules/dropdown.js')
			script(src='/styles/semantic.ui/modules/transition.js')
			script(src='/js/main.js')

			//- Include template-specific javascript files by extending the js block
			block js
