body {
  background-size: auto 110%;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding-top: 20px;
  color: #FFF;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  -webkit-animation-name: swim;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  // -webkit-animation-direction: alternate;
  -webkit-animation-easing: ease-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 3s;
  -webkit-transition: background-position 2s ease-in-out;
}

// @keyframes swim {
//   0% { 
//     background-position: -20% 4%; 
//   }
//   10% { 
//     background-position: -45% -3%; 
//   }
//   20% { 
//     background-position: -20% 8%; 
//   }
//   30% { 
//     background-position: -5% -3%; 
//   }
//   40% { 
//     background-position: 15% -3%; 
//   }
//   50% { 
//     background-position: 30% -3%; 
//   }
//   60% { 
//     background-position: 10% -1%; 
//   }
//   70% { 
//     background-position: -5% -3%; 
//   }
//   80% { 
//     background-position: -10% 2%; 
//   }
//   90% { 
//     background-position: -5% -3%; 
//   }
//   100% { 
//     background-position: -25% 7%; 
//   }
// }

// @-webkit-keyframes swim {
//   0% { 
//     background-position: -20% 4%; 
//   }
//   10% { 
//     background-position: -45% -3%; 
//   }
//   20% { 
//     background-position: -20% 8%; 
//   }
//   30% { 
//     background-position: -5% -3%; 
//   }
//   40% { 
//     background-position: 15% -3%; 
//   }
//   50% { 
//     background-position: 30% -3%; 
//   }
//   60% { 
//     background-position: 10% -1%; 
//   }
//   70% { 
//     background-position: -5% -3%; 
//   }
//   80% { 
//     background-position: -10% 2%; 
//   }
//   90% { 
//     background-position: -5% -3%; 
//   }
//   100% { 
//     background-position: -25% 7%; 
//   }
// }

// @-o-keyframes swim {
//   0% { 
//     background-position: -20% 4%; 
//   }
//   10% { 
//     background-position: -45% -3%; 
//   }
//   20% { 
//     background-position: -20% 8%; 
//   }
//   30% { 
//     background-position: -5% -3%; 
//   }
//   40% { 
//     background-position: 15% -3%; 
//   }
//   50% { 
//     background-position: 30% -3%; 
//   }
//   60% { 
//     background-position: 10% -1%; 
//   }
//   70% { 
//     background-position: -5% -3%; 
//   }
//   80% { 
//     background-position: -10% 2%; 
//   }
//   90% { 
//     background-position: -5% -3%; 
//   }
//   100% { 
//     background-position: -25% 7%; 
//   }
// }
